# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Dependency tracking
*.d

# macOS
.DS_Store

# SonarScan
.scannerwork
sonar_dribble.txt
build-wrapper-macosx-x86
bw-output
*.profraw
*.profdata

# Lint
lint

# Unit tests
test
lcut/lcut_user_guide.pdf
base85_test.c
